<ion-header>
    <ion-toolbar>
        <ion-title>Authenticate</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-padding-top">
            <ion-col size="6" offset="3">
                <ion-item>
                    <ion-label position="floating">E-mail</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2" offset="5">
                <ion-button color="primary" (click)="onLogin()">Login</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
